@font-face {
  font-family: Cubic_11;
  src: url(Cubic_11.ttf);
}

html,
body {
  padding: 0;
  margin: 0;

  background: center / cover url(/img/layout/guild_dark.png);
  align-items: center;
  cursor: url(/img/cursor/sword.png), default;
  font-family: 'Cubic_11', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  cursor: url(/img/cursor/sword2.png), pointer;
}

:root {
  --theme-c: #A154C3;
  --pink: #FDA2DB;
  --dark: #5B3775;
  --purple: #C095C2;
  --yellow: #EEE427;
}

.overlay {
  transition: opacity ease-in 0.5s;
  width: 100%;
  height: 100%;
  background: rgba(34, 13, 49, 0.7);
  inset: 0;
  position: absolute;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerInside {
  width: 100%;
  height: 100%
}

.aqContainer {
  background: url(/img/adventure_quest/bg_stripe.png);
  border: solid 5px;
  border-image: linear-gradient(to right bottom, #9C5796, #4B2768) 1;
  padding: .25em;
  padding-right: 4px;
  height: 100%;
  position: relative;
}

.aqContainer>.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em 1em 12em;
}

.aqContainer>.imgContainer {
  position: absolute;
  height: 14em;
  bottom: -1.3em;
  opacity: 0;
}

.aqContainer>img {
  position: absolute;
}

.imgContainer>img {
  height: 100%
}

.showCardContainer {
  position: absolute;
  inset: 0px;
  display: flex;
  padding: 1em;
  background-color: rgba(34, 13, 49, 0.7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn .3s ease-in;
}


.fullContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 2rem 1rem;
}

.icon {
  position: relative;
}

.icon:hover {
  cursor: url(/img/cursor/sword2.png), pointer;
}

.icon p {
  position: absolute;
  font-family: 'Cubic_11', sans-serif;
  margin: 0;
  width: 100%;
  text-align: center;
  color: var(--pink);
  bottom: 20px;
  font-size: 12px;
  opacity: 0;
  transition: .3s;
}

.icon:hover p {
  opacity: 1;
  bottom: 0px;
}

.icon:hover img {
  filter: hue-rotate(50deg)
}

.card {
  margin: 1%;
  border: solid 2px var(--purple);
  box-shadow: 5px 5px var(--yellow);
  background-color: #fff;
  padding: .75em;
  color: var(--purple);
  transition: transform .2s, box-shadow .2s;
  cursor: url(/img/cursor/sword2.png), pointer;
}

.img.card {
  max-width: 80%
}


.img.card>img {
  max-height: auto;
  max-width: 100%;
}

.img.card.show,
.pancake.img.card.show {
  max-width: 100%;
  cursor: url(/img/cursor/sword.png), pointer;
}


.img.card.show>img,
.pancake.img.card.show>img {
  max-height: 70vh;
}

.card.text {
  width: 99%;
  max-height: 90%;
  overflow: auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.card.text.show {
  width: auto;
  position: relative;
  padding-right: .25em;
  z-index: 100;
}

.card.text.show>div:first-child {
  display: block;
  overflow: auto;
}

.card.text.show>div {
  padding-right: .75em;
}

.card:hover {
  box-shadow: 5px 13px var(--yellow);
  transform: translateY(-10px) !important;
}

.card.show:hover {
  box-shadow: 5px 5px var(--yellow);
  transform: none !important;
}

.card.text>div:first-child {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: pre-wrap;
  flex: 1 1;
}

.loaging {
  position: absolute;
  max-width: 60%;
  z-index: 99;
}

.loaging>div {
  height: 1em;
  border: solid 2px var(--theme-c);
  position: relative
}

.loaging>div>div {
  position: absolute;
  background-color: var(--theme-c);
  inset: 0;
  animation: loadingBar 1s ease;
}

@media (min-width:768px) {
  .containerInside {
    width: 720px;
  }

  .loaging {
    position: absolute;
    max-width: 50%;
    z-index: 99;
  }

  .img.card>img {
    max-height: 50vh;
  }
}

@media (min-width:992px) {
  .containerInside {
    width: 960px;
  }

  .card.text {
    width: 31%;
  }

  .img.card {
    max-width: 30%
  }

  .img.card>img {
    max-height: 50vh;
  }

  .loaging {
    position: absolute;
    max-width: 30%;
    z-index: 99;
  }
}

.teamTagContainer::-webkit-scrollbar {
  display: none;
}

.teamTag {
  padding: .5em;
  border: solid 2px var(--theme-c);
  color: var(--pink);
  background-color: var(--dark);
  margin: .25em;
  min-width: 4em;
  text-align: center;
  white-space: nowrap;
  cursor: url(/img/cursor/sword2.png), pointer;
}

.teamTag.focus {
  border-color: #EEE427;
  color: var(--yellow);
}

.memberBlock {
  display: flex;
  padding: 1em;
}

.memberBlock:not(:last-child) {
  border-bottom: solid 1px var(--theme-c);
}

.memberIcon {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.textBlock {
  flex: 1 1 0;
  color: #fff;
  padding-left: 1em;
}

.textBlock>h3 {
  color: var(--yellow);
  font-weight: normal;
  margin: 0;
  margin-bottom: .25em;
}

.textBlock>h3>span {
  padding: .25em;
  background-color: #C095C2;
  color: #fff;
  margin-left: .25em;
  border-radius: 10px;
  font-size: small;
}

@media (min-width:1200px) {
  .containerInside {
    width: 1140px;
  }
}

@media (min-width:1400px) {
  .containerInside {
    width: 1320px;
  }
}

.fallingPice {
  animation: falling 11s ease-in infinite, wave 1s ease-in-out alternate infinite;
  pointer-events: none;
  z-index: 101;
}

::-webkit-scrollbar {
  /* the scrollbar. */
  border: solid 2px var(--purple);
  margin-right: 2px;
  cursor: url(/img/cursor/sword2.png), pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  /* the draggable scrolling handle. */
}

::selection {
  background: var(--yellow);
}

@keyframes falling {
  from {
    top: -5%
  }

  to {
    top: 120%
  }
}

@keyframes wave {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 2em;
  }

  to {
    opacity: 1;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@keyframes loadingBar {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}