@font-face {
  font-family: Cubic_11;
  src: url(Cubic_11.ttf);
}

html,
body {
  padding: 0;
  margin: 0;

  background: center / cover url(/img/layout/guild_dark.png);
  align-items: center;
  cursor: url(/img/cursor/sword.png), default;
  font-family: 'Cubic_11', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --theme-c: #A154C3;
  --pink: #FDA2DB;
  --dark: #5B3775;
  --purple: #C095C2;
  --yellow: #EEE427;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerInside {
  width: 100%;
  height: 100%
}

.aqContainer {
  background: url(/img/adventure_quest/bg_stripe.png);
  border: solid 5px;
  border-image: linear-gradient(to right bottom, #9C5796, #4B2768) 1;
  padding: 1em;
  padding-right: 4px;
  height: 100%;
  position: relative;
}

.aqContainer>.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding-bottom: 12em;
  padding-right: 2px;
}

.aqContainer>.imgContainer {
  position: absolute;
  height: 14em;
  bottom: -1.3em;
  opacity: 0;
}

.aqContainer>img {
  position: absolute;
}

.imgContainer>img {
  height: 100%
}

.showCardContainer {
  position: absolute;
  inset: 0px;
  display: flex;
  padding: 1em;
  background-color: rgba(34, 13, 49, 0.7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn .3s ease-in;
}


.fullContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 2rem 1rem;
}

.icon {
  position: relative;
}

.icon:hover {
  cursor: pointer;
}

.icon p {
  position: absolute;
  font-family: 'Cubic_11', sans-serif;
  margin: 0;
  width: 100%;
  text-align: center;
  color: var(--pink);
  bottom: 20px;
  font-size: 12px;
  opacity: 0;
  transition: .3s;
}

.icon:hover p {
  opacity: 1;
  bottom: 0px;
}

.icon:hover img {
  filter: hue-rotate(50deg)
}

.card {
  width: 99%;
  margin: 1%;
  border: solid 2px var(--purple);
  box-shadow: 5px 5px var(--yellow);
  background-color: #fff;
  padding: .75em;
  color: var(--purple);
  transition: transform .2s, box-shadow .2s;
  max-height: 90%;
  overflow: auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.card.show {
  width: auto;
  position: relative;
  padding-right: 0;
  z-index: 100;
}

.card.show>div:first-child {
  display: block;
  overflow: auto;
}

.card.show>div {
  padding-right: .75em;
}

.card:hover {
  box-shadow: 5px 13px var(--yellow);
  transform: translateY(-10px);
}

.card.show:hover {
  box-shadow: 5px 5px var(--yellow);
  transform: translateY(0);
}

.card>div:first-child {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: pre-wrap;
  flex: 1 1;
}

@media (min-width:768px) {
  .containerInside {
    width: 720px;
  }
}

@media (min-width:992px) {
  .containerInside {
    width: 960px;
  }

  .card {
    width: 31%;
  }
}

@media (min-width:1200px) {
  .containerInside {
    width: 1140px;
  }
}

@media (min-width:1400px) {
  .containerInside {
    width: 1320px;
  }
}

.fallingPice {
  animation: falling 11s ease-in infinite, wave 1s ease-in-out alternate infinite;
  pointer-events: none;
  z-index: 101;
}

::-webkit-scrollbar {
  /* the scrollbar. */
  border: solid 2px var(--purple);
  margin-right: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  /* the draggable scrolling handle. */
}

@keyframes falling {
  from {
    top: -5%
  }

  to {
    top: 120%
  }
}

@keyframes wave {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 2em;
  }

  to {
    opacity: 1;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}