@font-face {
  font-family: Cubic_11;
  src: url(Cubic_11.ttf);
}

html,
body {
  padding: 0;
  margin: 0;

  background: center / cover url(/img/guild_dark.png);
  align-items: center;
  cursor: url(/img/sword.png), default;
}

* {
  box-sizing: border-box;
}

:root {
  --theme-c: #A154C3;
  --pink: #FDA2DB;
  --dark: #5B3775;
}